@import 'colors.css';
@import 'colors.css';

.perfil {
    margin-left: 250px;
    width: calc(100% - 250px);
    max-height: 100vh; /* Límite al tamaño de la pantalla */
    overflow-y: auto; /* Activa el scroll vertical si el contenido se desborda */
}
.perfil .tarjeta-perfil {
    min-width: 450px;
    background-color: var(--celesteOscuro);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-top: 35px;
}

.perfil .imagen-perfil {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border: 3px solid #ffffff;
    background-color: var(--blanco);
}

.perfil .imagen-perfil img {
    width: 100%;
    border-radius: 50%;
    color: var(--celesteOscuro);

}

.perfil .info-perfil {
    font-size: 14px;
    text-align: left;
}

.perfil .info-perfil h2 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.perfil .info-perfil p {
    margin: 4px 0;
}

/*Información académica */
.perfil .secciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 80px;
}
.perfil .bloques {
    width: 100%;
    margin-top: 20px;
}
.perfil .subbloques {
    padding-left: 40px;
    width: 100%;
}
.perfil .actividades {
    padding-left: 40px;
    padding-top: 5px;
}


.perfil .seccion-titulo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--violetaOscuro);
    margin: 15px 0;
    text-transform: uppercase;
}
.perfil .subbloque-titulo {
    display: flex;
    font-size: 20px;
    margin: 15px 0;
}


.perfil .tabla-academica table {
    border-collapse: collapse;
    margin: 10px 0;
    width: 85%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.perfil .tabla-academica th, 
.perfil .tabla-academica td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
}
.perfil .tabla-academica th {
    background-color: var(--celesteOscuro);
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.perfil .tabla-academica td {
    color: #333333;
}

.perfil .tabla-academica tr:nth-child(even) td {
    background-color: #f7fbfd;
}

.perfil .tabla-academica tr:hover td {
    background-color: #e0f4fa;
    transition: background-color 0.3s;
}


.perfil .viñeta {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--violetaOscuro);
    margin-right: 8px;
    transition: transform 0.9s;
    transform: rotate(-90deg);
}

.perfil .viñeta.abierta {
    transform: rotate(0deg);
}

.perfil .tabla-academica .estrella {
    color: #f9c74f;
    font-size: 16px;
    vertical-align: middle;
}
.perfil h5 {
    text-align: left;
    font-size: 16px;
}