@import 'colors.css';
@import 'colors.css';

.perfil {
    margin-left: 250px;
    width: calc(100% - 250px);
}
.perfil .tarjeta-perfil {
    width: 400px;
    background-color: var(--celesteOscuro);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.perfil .imagen-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border: 3px solid #ffffff;
}

.perfil .imagen-perfil img {
    width: 100%;
    height: auto;
}

.perfil .info-perfil {
    font-size: 14px;
    text-align: left;
}

.perfil .info-perfil h2 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.perfil .info-perfil p {
    margin: 4px 0;
}

.perfil .tabla-academica table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.perfil .tabla-academica th, .tabla-academica td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.perfil .tabla-academica th {
    background-color: var(--celeste);
    color: #fff;
    font-weight: bold;
}

.perfil .tabla-academica td {
    background-color: #f9f9f9;
}

.perfil .tabla-academica tr:hover {
    background-color: #f1f1f1;
}

.perfil .seccion-titulo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
    color: var(--violetaOscuro);
}

.perfil .secciones {
    width: 100%;
    padding: 30px;
}

.perfil .viñeta {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid  var(--violetaOscuro);
    margin-right: 8px;
    transition: transform 0.3s;
}

.perfil .viñeta.abierta {
    transform: rotate(90deg);
}

.perfil ul {
    list-style-type: none;
    margin: 0;
    padding-left: 24px;
}

.perfil ul li {
    margin: 5px 0;
    text-align: left;
    color: var(--violetaOscuro);
}