
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
}
.header-vertical{
    position:absolute;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
label {
    font-size: 14px;
}
h1 {
    color: var(--verdeOscuro);
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}

h2 {
    margin: 10px;
    font-size: 18px;
    font-weight: normal;
}

.bodyModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
    padding: 0;
    flex-grow: 1;
}

.bodyModal .introduccion {
    margin: 0;
    padding: 0 20px;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

#contruccion {
    width: 30%;
}
